@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  border-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 76%, 3%, 0.8)) fill 1;
}

.bg-size-100-100 {
  background-size: 100% 100%;
}
.left-section {
  width: 50%;
  height: 100%;

}

.right-section {
  height: 100%;
}

.right-section img {
  object-fit: cover;
  width: 100%;

}

@media (min-width:425px) {

  .auth-section {
    display: block !important;
  }
  
}
@media (max-width:425px) {

  .social-media{
    gap: 1rem;
    flex-direction: column !important;
  }
  
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  right:0;
  background-color: #f6f3f3;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #f6f3f3;
  transform: rotate(45deg);
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

input:focus,select:focus{
  outline: none !important;
}

.geoapify-autocomplete-input {
  @apply p-2 w-full text-black rounded-md focus:outline-none bg-white border border-gray-300 shadow-sm;
}
.geoapify-close-button{
  @apply bg-white
}