@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  border-image: linear-gradient(hsla(130, 94%, 6%, 0.6), hsla(0, 76%, 3%, 0.8)) fill 1;
}


.left-section {
  width: 50%;
  height: 100%;
   
}
.right-section {
  height: 100%;
}

.right-section img {
  object-fit: cover;
  width: 100%;

}